Ejercicios/XML y DTD/medicamento.dtd

<!ELEMENT FARMACIA (MEDICAMENTO+)>
<!ELEMENT MEDICAMENTO (NOMBRE, ADMINISTRACION, DOSIS)>
<!ELEMENT NOMBRE (GENERICO, (COMERCIAL)+)>
<!ELEMENT GENERICO (#PCDATA)>
<!ELEMENT COMERCIAL (#PCDATA)>
<!ELEMENT ADMINISTRACION (#PCDATA)>
<!ELEMENT DOSIS (#PCDATA)>


<!ATTLIST NOMBRE ID ID #REQUIRED>
<!ATTLIST ADMINISTRACION TIPO (INTRAMUSCULAR|ORAL) #REQUIRED>